<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988525508313-18nfqdvam3n8ndh8vjtf5dmr1mhb17vq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988525508313-18nfqdvam3n8ndh8vjtf5dmr1mhb17vq</string>
	<key>API_KEY</key>
	<string>AIzaSyB7-LeAsajl3T3Zx8YWTy4cZHQiLtsntJo</string>
	<key>GCM_SENDER_ID</key>
	<string>988525508313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.payflow</string>
	<key>PROJECT_ID</key>
	<string>payflow-78773</string>
	<key>STORAGE_BUCKET</key>
	<string>payflow-78773.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988525508313:ios:94d1592f7b4ff7321eb0c8</string>
</dict>
</plist>